<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
<div class="menu-row">
    <div class="menu-container"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity
         http://www.thymeleaf.org/thymeleaf-extras-springsecurity ">

        <a th:href="@{/}">
            Home
        </a>
        |
        <th:block sec:authorize="hasAuthority('ROLE_USER')">
            <a th:href="@{/user/foodlist(page=1)}" th:text="#{foodlist.title}"></a>
            |
            <a th:href="@{/user/userprofile}" th:text="#{foodlist.profile}"></a>
        </th:block>

        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a th:href="@{/admin/userstatistics}" th:text="#{userstatistics.title}"></a>
            |
        </th:block>
    </div>
    <div class="header-container"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
        <div class="header-bar">
            <th:block sec:authorize="isAuthenticated()">
                <a th:utext="${#request.userPrincipal.name}">..</a>
                &nbsp;|&nbsp;
                <a th:href="@{/logout}">Logout</a>
            </th:block>
            |
            <a href="?lang=en" th:text="#{lang.en}"></a>
            |
            <a href="?lang=ua" th:text="#{lang.ua}"></a>
            |
        </div>
    </div>
</div>
