<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Registration</title>

    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>
</head>

<body>
<style>
    input {
        margin: 1%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered!</div>
            </div>

            <h1>Please register</h1>

            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">
                    Validation error
                </p>

                <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                    <label for="username" class="control-label">Username</label>
                    <input id="username" class="form-control" th:field="*{username}"/>
                    <p class="error-message" th:each="error : ${#fields.errors('username')}" th:text="${error}">
                        Validation error
                    </p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}"/>
                    <p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">
                        Validation error
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('height')}? 'has-error' : ''">
                    <label for="height" class="control-label">Height</label>
                    <input id="height" class="form-control" type="text" th:field="*{height}" value=" "/>
                    <p class="error-message" th:each="error : ${#fields.errors('height')}" th:text="${error}">
                        Validation error
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('weight')}? 'has-error' : ''">
                    <label for="weight" class="control-label">Weight</label>
                    <input id="weight" class="form-control" type="text" th:field="*{weight}" value=" "/>
                    <p class="error-message" th:each="error : ${#fields.errors('weight')}" th:text="${error}">
                        Validation error
                    </p>
                </div>

                <form class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span> Already registered? <a href="/" th:href="@{/login}">Login</a></span>
                </form>
            </form>
        </div>
    </div>
</div>
</body>
</html>
